on:
  push:
    branches:
      - main

name: Delivery

jobs:

  release:
    permissions:
      contents: write
      pull-requests: write
      packages: write

    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3.2.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - uses: docker/metadata-action@v5.5.1
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}

      - uses: docker/build-push-action@v6.6.1
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - uses: google-github-actions/release-please-action@v4
        id: release

      - run: skopeo copy docker://ghcr.io/${REPOSITORY@L}:main docker://ghcr.io/${REPOSITORY@L}:${{ steps.release.outputs.tag_name }}
        if: ${{ steps.release.outputs.release_created }}
        env:
          REPOSITORY: ${{ github.repository }}